/* Class -> . Id -> # */

table{
    border-style:solid;
}
.Band{
    font-weight: normal;
}
th, tr{
    border-style:solid;
}

.outer-content{
    padding: 20px;
    border-top: 20px;
    background-color: pink;
    text-align: left;
    width: 75%;
}

.inner-content{
    /* margin allows it to center properly */
    margin: auto;
    background-color: aquamarine;
    text-align: center;
    width: 75%;
}

