/* Class -> . Id -> # */

table{
    border-style:solid;
}
.Band{
    font-weight: normal;
}
th, tr{
    border: 1px solid black;
}

.outer-content{
    padding: 20px;
    border-top: 20px;
    background-color: pink;
    text-align: left;
    width: 75%;
}

.inner-content{
    /* margin allows it to center properly */
    margin: auto;
    background-color: blue;
    text-align: center;
    width: 75%;
}

tbody tr:nth-of-type(2n) {
    background: aquamarine;
}

tbody tr:nth-of-type(2n+1) {
    background: greenyellow;
}

tbody th, td {
    border: 1px solid black;
    font-weight: normal;
  }